extends layout 

block content
    h4 Page Name 
    h1 #{title}
    br
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis placeat libero explicabo eum esse a ad commodi nesciunt quasi autem.