doctype html
html
    head 
        title Pug Setup
        style 
            include ./style.css
        //- style.
        //-     body {
        //-         background: oldlace;
        //-     }
        //-     ul {
        //-         list-style: none;
        //-     }
        //-     p {
        //-         background: white;
        //-     }
    body
        div(class="fade-in")
            p(style="font-style: italic; color: olive", class="rounded") #{status}
            br
            img(src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Joaqu%C3%ADn_Sorolla_y_Bastida_-_Strolling_along_the_Seashore_-_Google_Art_Project.jpg", alt="Sorolla on the beach") 
            block content 
            br
            hr
        footer
            p Copyright &copy;2022. SinhaGuild.