body {
    background: oldlace;
    font-family: "Poppins", sans-serif;
}

.swagger-ui body {
    margin: 0;
    background: #fafafa
}

ul {
    list-style-type: none;
    margin: 0;
}

img {
    width: 50%;
    aspect-ratio: 1/1;
}

p,
h4 {
    margin: 0;
    padding: 0;
    padding: 1rem;
    background: white;
    color: #323232;
}

.rounded {
    border-radius: 2rem;
}

.blue {
    color: blue;
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}